<!doctype html>
<html>
    <head>
    </head>
    <body>
        <img src="tcpu.jpg">
        <form action="/" method="POST">
            <input name="username" type="text" placeholder="Enter username">
            <input type="submit" value="push">
        </form>
    </body>
</html>